.logo {

    width: 61,09px;
    height: 19px;
    align-items: center;

}

li {

    display: inline-block;
    list-style: none;
    padding-right: 67px;

}

.nav__hosts {

    font-family: Raleway;
    font-size: 16px;
    text-align: center;
    

}

.nav__activity {

    font-family: Raleway;
    font-size: 16px;
    text-align: center;

}

.nav__links {

    text-decoration: none;
    color:black;

}

.nav__menu {

display: flex;
justify-content: space-between;

}

.header__logo {
    margin-top: auto;
    margin-bottom: auto;
}

.nav__links:hover {

    color:#0065FC;
    text-decoration: 2px underline;
    text-underline-offset: -40px;

}

h1 {

    font-family: Raleway;
    font-style: normal;
    font-size: 22px;
    margin-bottom: 0;

}

header {
    margin-left: 55px;
}

.subtitle {

    font-family: Raleway;
    font-size: 16px;
    margin-top: 8px;

}



.search__bar {

    margin-left: 55px;
    background-color: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    width: 332px;
    height: 49px;
}

.search__field {

    height: 21px;
    width: 147px;
    margin-left: 67px;

}

.search__button {

;

}

.fa-solid.fa-location-dot {

    margin-left: 18px;
    margin-top: 16px;

}

.location__icon {

    width: 50px;
    height: 49px;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;

}