html {

    max-width: 1400px;
    font-family: Raleway;

}

.logo {

    width: 61,09px;
    height: 19px;
    align-items: center;

}

li {

    display: inline-block;
    list-style: none;
    padding-right: 67px;

}

.nav__hosts {

    font-family: Raleway;
    font-size: 16px;
    text-align: center;
    

}

.nav__activity {

    font-family: Raleway;
    font-size: 16px;
    text-align: center;

}

.nav__links {

    text-decoration: none;
    color:black;

}

.nav__menu {

    display: flex;
    justify-content: space-between;

}

.header__logo {
    margin-top: auto;
    margin-bottom: auto;
}

.nav__links:hover {

    color:#0065FC;
    text-decoration: 2px underline;
    text-underline-offset: -40px;

}

h1 {

    font-style: normal;
    font-size: 22px;
    margin: 0;

}

h2 {

    font-size: 18px;
}

h3 {

    font-size: 16px;
    font-weight: 700px;
    margin: 0;
}

header {
    margin-left: 55px;
}

.subtitle {

    font-family: Raleway;
    font-size: 16px;
    margin-top: 8px;

}



.search__bar {

    display: flex;
    margin-left: 55px;
    background-color: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    width: 332px;
    height: 49px;


}

.search__form {

    display: flex;
    width: 200px;
    
}

.search__field {

    display: flex;
    border: none;
    font-weight: 700;
    position: relative;
    left: 17px;


}


.search__field::placeholder {

    color: black;
    font-weight: 700;
    opacity: 1;

}

.search__button {

    display:flex;
    background-color: #0065FC;
    height: 49px;
    width: 110px;
    color: white;
    border: none;
    margin: auto;
    font-weight: 700;
    border-radius: 0px 15px 15px 0px;
    position: relative;
    right: -46px;
   
}

.fa-location-dot {

    margin-left: 18px;
    margin-top: 16px;

}

.location__icon {

    display: flex;
    width: 50px;
    height: 49px;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;


}

.filters {

    display: flex;
    flex-direction: row;
    margin-top: 46px;
    margin-left: 62px;
    width: 914px;
    height: 50px;
    gap: 40px;
}

.filters__text {

    display: flex;
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    justify-content: center;
    align-items: center;

}

.filters__button {

    display: flex;
    height: 48px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    background-color: white;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-size: 17px;
    font-weight: 700;
    padding: 4px 20px 4px 20px;
    gap: 10px;
    white-space: nowrap;
    cursor: pointer;

}

.filters__button:hover {

    background-color: #DEEBFF;
}

.fa-money-bill-wave, 
.fa-person, 
.fa-heart, 
.fa-dog,
.fa-star,
.fa-chart-line {

    color: #0065FC;

}

.result__number {

    display: flex;
    margin-top: 38px; 
    margin-left: 59px;
    align-items: center;

}

.fa-info {

    color: #0065FC;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    font-size: 10px;
    padding: 6px 10px 7px 10px;

}

.result__text {

    margin-left: 11px;

}

.cards {

    display: flex;
    padding-left: 50px;
    
}


.cards__results {
    
    margin-top: 39px;
    padding-left: 40px;
    padding-right: 40px;
    width: 880px;
    height: 626px;
    background-color: #F2F2F2;
    border-radius: 20px;
    flex-shrink: 0;
}

.title__results {

    margin-top: 42px;
    margin-bottom: 23px;

}

.popular {

    display: flex;
    flex-direction: column;
    padding-left: 37px;
    margin-left: 40px;
    margin-top: 39px;
    width: 420px;
    height: 625px;
    background-color: #F2F2F2;
    border-radius: 20px;
    flex-shrink: 0;

}

.top__results {

    display: flex;
    gap: 31px;
    
}

.bottom__results {

    display: flex;
    margin-top: 30px;
    gap: 31px;
    
}

.card {

    display: flex;
    flex-direction: column;
    width: 246px;
    height: 199px;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));

}

.more__results {

    margin-top: 40px;
    margin-left: 4px;
    
}

.card__img {

    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 124px;
    object-fit: cover;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;

}

.card__content {

    margin-top: 4px;
    margin-left: 16px;

}

.card__text {

    margin-top: 9px;
    font-size: 14px;
    margin-bottom: 0;


}

.card__text__popular {


}



.card__stars {



}

.star-grey {

    color: #F2F2F2;

}

.card__link:visited {

    color: black;

}


.card__link {

    text-decoration: none;
    color: black;
    
}

.popular__header {

    display: flex;

}

.fa-chart-line {

    position: relative;
    margin-top: 46px;
    left: 42px;

}


.popular__results {

    display: flex;
    flex-direction: column;
    margin-top: 26px;


}

.popular__card {

    display: flex;
    width: 343px;
    height: 144px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 33px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));

}

.popular__img {

    border: 5px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px;
    width: 137px;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;

    
}

.popular__content {

    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-top: 16px;
    position: relative;

}

.popular__name {



}

.popular__img__container {

    display: flex;

}

.card__stars__popular {

    display: flex;
    margin-top: 50px;

}

.fa-star {

    font-size: 12px;
}

.title__activity {

    margin-left: 50px;
    margin-top: 60px;
    line-height: 25.83px;

}

.activity {

    display: flex;
    margin-top: 19px;
    margin-left: 50px;
    gap: 43px;
}

.activity__card {

    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));

}


.activity__img__container {

    display: flex;
    width: 302px;
    height: 389px;

}

.activity__img {

    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 20px 20px 0px 0px;

}

.activity__text {

    margin-left: 19px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 700px;
    line-height: 19px;


}